@use "../../foundation/all" as *;

// 背景が赤いボタン
.c-btn-red {
    background-color: $red;

    a {
        color: $white;
        display: inline-block;
    }
}

// お問い合わせボタン
.c-contact__btn {
    font-size: 2rem;
    font-weight: bold;
    line-height: calc(33 / 20);
    display: inline-block;
    position: fixed;
    bottom: 32rem;
    right: 0;

    a {
        padding: 1.7rem 8.4rem 1rem 8rem;
        color: $white;
        display: block;
    }

    @include sp {
        right: 50%;
        transform: translateX(50%);
        bottom: 40rem;
        right: 0;
        max-width: 33.5rem;

        a {
            padding: 1.3rem 8rem 1rem 8rem;

        }
    }
}

// 各セクションタイトル
.c-section-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: calc(50 / 30);
    text-align: center;

    @include sp {
        font-size: 2.5rem;
        line-height: calc(40 / 25);
    }
}

// トップに戻るボタン
.c-btn-to-top {
    background-color: rgba(0, 0, 0, 0.502);
    border-radius: 50%;
    width: 6.8rem;
    height: 6.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 6.1rem;
    right: 50%;
    right: calc((100% - 940px) / 2);
    bottom: calc(27.4rem + 15.1rem);

    @include sp {
        right: 2rem;
        bottom: 10rem;
    }


    img {
        width: 2.3rem;
    }
}

// ハンバーガーメニュー
.c-hamburger {
    position: fixed;
    top: 0;
    right: 0;
    width: 7.1rem;
    height: 5rem;
    cursor: pointer;
    z-index: 100;
    background-color: $red;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    span {
        display: block;
        background-color: $white;
        width: 3.2rem;
        height: 0.4rem;
        margin: 0 auto;
        border-radius: 4px;
    }
}

//赤丸
.c-dot {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $red;
}


  //下層ページ　FVの背景
  .c-fv__overlay--sub {
    position: absolute;
    inset: 0;
    background-color:rgba(80, 80, 80, 0.4863);
    mix-blend-mode: multiply;
    pointer-events: none;
 }

  //下層ページ　FVタイトル
  .c-fv__title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: calc(60 / 25);
    text-align: center;
    color: $white;
    position: absolute;
    top: calc(74 / 1080 * 100vw);
    left: 50%;
    transform: translateX(-50%);}

  //パンくずリスト
  .c-breadcrumb {
    font-size: 1.6rem;
    line-height: calc(33 / 16);
    background-color:#E8E8E8;
  }

  .c-breadcrumb__list {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 4.9rem;
    height: 5rem;
  }

  .c-breadcrumb__item {
    position: relative;

    &::after {
        content: ">";
        position: absolute;
        right: -1.8rem;
  }

  &:last-child {
    &::after {
        display: none;
    }
  }
  a {
transition: all 0.3s ease;

    &:hover {
        opacity: 0.5;}
  }
}

//下層ページ　セクションタイトル
.c-section-title--sub {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}