@use "../../foundation/all" as *;

//トップに戻るボタンとお問い合わせボタン
.c-floating-btns {
    position: sticky;
    bottom: 0;
    z-index: 10001;
}

// 背景が赤いボタン
.c-btn-red {
    background-color: $red;
    color: $white;
    border: 1px solid $red;

    a {
        color: $white;
        display: inline-block;
    }
}

// お問い合わせボタン
.c-contact__btn {
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    line-height: calc(33 / 20);
    color: $white;
    display: block;
    text-align: right; 
    margin-left: auto;   
    letter-spacing: 0.4rem;
    width: 30rem;
    transition: all 0.8s ease;

    &:hover {
        background-color: white;
        color: $red;
        border: 1px solid $red;
        opacity: 1;
    }

    a {
        color: inherit;
        padding: 1.7rem 8.4rem 1rem 8rem;
        white-space: nowrap;
    }

    @include sp {
        text-align: center;
        margin-inline: auto;
        width: 33.5rem;

        a {
            color: inherit;
            padding: 1.3rem 0 1rem;
        }
    }
}


// トップに戻るボタン
.c-to-top {
    margin-bottom: 3.1rem;
    padding-right: 11.6rem;
    text-align: right;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    z-index: 10001;

    @include sp {
        padding-right: 2rem;
        margin-bottom: 1.5rem;
    }

    img {
        width: 7rem;
    }

    a {
        display: inline-block;
        clip-path: circle(50%);
    }
}


.c-contact__btn  {
    transition: all 0.8s ease;

    &:hover {
        opacity: 1;
    }

    a {
        color: inherit;
    }
}

//ホームに戻るボタン
.c-to-home {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: calc(33 / 25);
    display: inline-block;
    text-align: center;
    padding: 1rem 0;
    display: block;
    width: 26rem;
    max-width: 26rem;
    margin-inline: auto;
    transition: all 0.8s ease;

    a {
        color: inherit;
    }

    @include sp {
        font-size: 2rem;
        line-height: calc(26 / 20);
    }

    &:hover {
        background-color: white;
        color: $red;

        a {
            color: inherit;
        }
    }
}
//トップページのセクションタイトル
.c-top-section-title {
font-size: 3rem;
line-height: calc(50 / 30);
text-align: center;

@include sp {
    font-size: 2.5rem;
    line-height: calc(40 / 25);
}
}

// 各セクションタイトル
.c-section-title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: calc(50 / 30);
    text-align: center;

    @include sp {
        font-size: 2.5rem;
        line-height: calc(40 / 25);
    }
}

//赤丸
.c-dot {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $red;
}


//下層ページ　FVの背景
.c-fv__overlay--sub {
    position: absolute;
    inset: 0;
    background-color: rgba(80, 80, 80, 0.4863);
    mix-blend-mode: multiply;
    pointer-events: none;
}

//下層ページ　FVタイトル
.c-fv__title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: calc(60 / 25);
    text-align: center;
    color: $white;
    position: absolute;
    top: 7.4rem;
    left: 50%;
    transform: translateX(-50%);

    @include sp {
        top: 12.4rem;
    }
}

//パンくずリスト
.c-breadcrumb {
    font-size: 1.6rem;
    padding: 0.8rem;
    line-height: calc(33 / 16);
    background-color: rgba(232, 232, 232, 1);

    @include sp {
    padding: 0;
}
}

.c-breadcrumb__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0;
    column-gap: 0.6rem;
    flex-wrap: wrap;
}

.c-breadcrumb__item {
    display: flex;
    align-items: center;

    & + .c-breadcrumb__item::before {
        content: ">";
        margin: 0 1.9rem 0 1.4rem;
    }
}

//下層ページ　セクションタイトル
.c-section-title--sub {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

//ブログ　写真の中の赤いラベル
// .c-blog__item {
//     position: relative;
// }

.c-blog__label {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: calc(25 / 15);
    background-color: $red;
    color: $white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 8rem;

    @include sp {
        width: 9rem;
    }
}


//背景が黒
.c-back-black {
    background-color: $black;
    color: $white;
}

// 前の記事　次の記事
.c-prev-next {
    display: flex;
    justify-content: space-between;
    margin-top: 5.5rem;
    gap: 9%;
}

.c-prev-text {
    font-size: 1.7rem;
    line-height: calc(30 / 17);
    margin-bottom: 1.6rem;
    padding: 0.4rem 15rem 0.3rem 2rem; //ブログ用
    display: inline-block;

    @include sp {
        padding: 0.4rem 0 0.3rem 2rem; 
        width: 15.6rem;
    }
}

.c-prev--right {
    text-align: right;
    padding: 0.4rem 2rem 0.3rem 15rem; 

    @include sp {
        padding: 0.4rem 2rem 0.3rem 0; 
        width: 15.6rem;
    }
}

.c-prev--inner {
    display: flex;
    font-size: 1.6rem;
    line-height: calc(25 / 16);
    font-weight: 700;
    gap: 1.6rem; //ブログ用 
    

    p {
        max-width: 14.7rem; //ブログ用

        @include sp {
            max-width: 100%;
        }
    }

    img {
        aspect-ratio: 98 / 68;
        object-fit: cover;
        max-width: 9.8rem;

        @include sp {
            display: none;
            max-width: none;
        }
}
}

//関連記事
.c-title {
    padding: 1.5rem 0 1.5rem 3rem;

    @include sp {
        text-align: center;
    }
}

//関連記事のリスト
.c-blog__item {
    display: flex;

    // img {
    //     max-width: 20rem;
    // }
}

.c-blog__list--related {
    display: block;
    margin-top: 3rem;

    .blog__title {
        margin-top: 0;
    }

    data {
        font-size: 1.7rem;
        line-height: calc(30 / 17);
        text-align: left;
        margin-top: 1.3rem;
        margin-left: 0.4rem;
    }
}

.c-blog__item--related {

    margin-bottom: 3rem;

    a {
        display: flex;
        gap: 3rem;
    }
}

//ブログ一覧　search01共通

.c-blog--sub {
    padding: 6.6rem 0 4.5rem;

    @include sp {
        padding: 4.8rem 0;
    }
}

.c-blog__list--sub {
    flex-direction: column;
    margin-top: 3.5rem;

    @include sp {
        margin-top: 3.8rem;
    }
}

.c-blog__item--sub {
    max-width: 100%;
    margin-bottom: 7rem;

    @include sp {
        margin-bottom: 3.8rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    a {
        display: flex;
        align-items: center;
        gap: 5rem;
        transition: all 0.3s ease;

        @include sp {
            flex-direction: column;
        }
    }
}

    .c-blog__img-wrapper {
        position: relative;
    }

    .c-blog__text-wrapper {
        width: 64.7%;

        @include sp {
            width: 100%;
        }
    }

    .c-blog__title {
        font-size: 2rem;
        line-height: calc(25 / 20);
        margin-top: 0;

        @include sp {
            margin-top: 3.1rem;
            line-height: calc(30 / 20);
        }
    }

    data {
        text-align: left;
        margin-top: 0;
        margin-top: 0.3rem;


        @include sp {
            text-align: right;
            margin-top: 0.6rem;

        }
    }


.c-blog__text {
    margin-top: 1rem;
    line-height: calc(30 / 18);

    @include sp {
        margin-top: 0.8rem;
        font-size: 1.6rem;
        line-height: calc(30 / 16);
    }
}

//ページネーション
.c-pagination {
    line-height: 1;
}

.c-pagination__list {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.c-pagination__item {
    display: flex;
    background-color: $white;
    border: 1px solid $black;
    line-height: calc(30 / 18);
    justify-content: center;
    align-items: center;
    width: 5rem;
    padding: 1.5rem 0 2.1rem;
    height: 5rem;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.8s ease;
    height: 5rem;
    width: 5rem;

    &.c-pagination__item--back-black {
        background-color: $black;
        color: $white;
        padding: 1.5rem 0 2.1rem;
        font-size: 1.8rem;
        line-height: calc(30 / 18);

        a {
            color: inherit;
        }
    }

    &.border-none {
        border: none;
        width: 4rem;
        cursor: default;
        padding: 2rem 0 2.1rem;
    }

    &:hover:not(.border-none) {
        background-color: $black;
        color: $white;

        a {
            color: inherit;
        }
        }
    }


    //blog_details result_details 関連記事内　タイトル
    .c-related-title {
        font-size: 2rem;
        line-height: calc(25 / 20);
        font-weight: 700;
    }