@use "../../foundation/all" as *;
@use "../component/component" as *;

.voice {
    padding: 4.4rem 0 8rem;
    color: $white;
    text-align: center;
    background-color: $red;
}

.voice__inner {
    margin-top: 3.6rem;
}
.voice__list {
    display: flex;
    gap: calc(35 / 1080 * 100vw);
}

.voice__item {
    max-width: calc(270/ 1080 * 100vw);
    width: 100%;
    color: $white;
}

.voice__title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: calc(33 / 22);
    margin-top: 1.7rem;
}

.voice__text {
    text-align: left;
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    margin-top: 1rem;
}

