@use "../../foundation/all" as *;
/* ===========================
   fv
   =========================== */
.fv {
    position: relative;
}

.fv__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(80, 80, 80, 0.502);
    mix-blend-mode: multiply;
    pointer-events: none;
}

.catchphrase {
    position: absolute;
    top: calc(185 / 1080 * 100vw);
    left: calc(300 / 1080 * 100vw);
    font-size: calc(40 / 1080 * 100vw);
    font-weight: 700;
    line-height: calc(60 / 40);
    color: $white;
    z-index: 10;

    @include sp {
        top: calc(208 / 375 * 100vw);
        left: calc(20 / 375 * 100vw);
        font-size: calc(30 / 375 * 100vw);
        line-height: calc(50 / 30);
        text-align: center;
    }
}

/* ===========================
   fv-message
   =========================== */
.fv-message {
    padding: 6.6rem 0 5.5rem;
}

.fv-message__title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: calc(50 / 35);
    color: $red;
    text-align: center;

    @include sp {
        font-size: 2.5rem;
        line-height: calc(40 / 25);
    }
}

.fv-message__text {
    line-height: calc(30 / 18);
    color: $black;
    text-align: center;
    margin-top: 1.7rem;

    @include sp {
        font-size: 1.8rem;
        text-align: left;
    }
}

.semicircle {
    width: 85.8rem;
    margin: 0 auto;
    margin-top: 3.4rem;

    img {
        width: 100%;
    }

    @include sp {
        width: 33.5rem;
    }
}

.message-box {
    margin-top: 0;
    display: flex; 
    justify-content: center;
    align-self: start;

    @include sp {
margin-top: 1.1rem;    
}
}

.message-box__text-en {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: calc(50 /25);
    color: $red;
    margin-top: 2rem;
    margin-right: 2.4rem;
    text-align: right;

    @include sp {
        font-size: 2rem;
        line-height: calc(50 / 20);
    }
}

.message-box__col--center {
    position: relative;
    width: 3.16rem;
}

.dot1 {
    top: 3.8rem;
    left: 0.5rem;
}
.dot2 {
    top: 50%;
    left: 0.5rem;
}
.dot3 {
    bottom: 1.7rem;
    left: 0.5rem;
}

.message-box__col--right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2.3rem;
    line-height: calc(50 / 23);
    margin-top: 2.5rem;
    margin-left: 2.3rem;
    row-gap: 1.5rem;

    @include sp {
        font-size: 2rem;
        line-height: calc(50 / 20);
    }
}

/* ===========================
promotion
=========================== */
.promotion {
    padding: 6.8rem 0 6rem;
    background-color: $red;
    color: $white;

    @include sp {
        padding: 4.9rem 0 4rem;
    }
}

.promotion__title {
    font-size: 2.5rem;
    line-height: calc(40 / 25);
    text-align: center;
    font-weight: 700;

    @include sp {
        font-size: 2.5rem;
        line-height: calc(50 / 25);
    }
}

.promotion__text {
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    text-align: center;
}

.promotion__text:first-of-type {
    margin-top: 3rem;

    @include sp {
        margin-top: 1.4rem;
    }
}
