@use "../../foundation/all" as *;
@use "../component/component" as *;


.blog {
    padding: 7.45rem 0 14.5rem;

    @include sp {
        padding: 4.6rem 0 13rem;
    }
}

.blog__list {
    margin-top: 3.8rem;
    display: flex;
    gap: calc(50 / 1080 * 100vw);
    margin-inline: auto;

    @include sp {
        flex-direction: column;
        gap: 0;
        margin-top: 3.9rem;
    }
}

.blog__item {
    max-width: calc(260 / 1080 * 100vw);
    width: 100%;
    position: relative;

    a {
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            opacity: 0.5;
        }
    }

    @include sp {
        max-width: none;
    }
}

.blog__title {
    font-size: 2rem;
    line-height: calc(25 / 20);
    font-weight: 700;
    margin-top: 2rem;
    font-weight: 700;

    @include sp {
        font-size: 2rem;
        line-height: calc(30 / 20);
        margin-top: 3rem;
    }
}

data {
    font-size: 1.5rem;
    line-height: calc(30 / 15);
    margin-top: 1rem;
    display: block;
    text-align: right;

    @include sp {
        font-size: 1.7rem;
        line-height: calc(30 / 17);
        margin-top: 0.6rem;
    }
}


.more-link {
    line-height: calc(30 / 18);
    margin-top: 3.7rem;
    text-align: right;
    transition: all 0.3s ease;

    @include sp {
        margin-top: 3.7rem;
        text-align: center;
    }

    &:hover {
        opacity: 0.5;
    }
}

.more-link a {
    display: inline-block;
    border-bottom: 1px solid $black;
}

