@use "../../foundation/all" as *;
@use "../component/component" as *;

.flow {
    padding: 3.4rem 0 10.5rem;

    @include sp {
        padding: 3.6rem 0 2rem;
    }
}

.flow__wrapper {
    margin-top: 5.4rem;
    margin-left: 5rem;

    @include sp {
        margin-top: 3.9rem;
        margin-left: 0;
    }
}

.flow__side {
    position: relative;

    @include sp {
        padding-left: 0.5rem;
    }
}

.flow__step {
    display: flex;
    margin-bottom: calc(58 / 1080 * 100vw);
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    @include sp {
        margin-left: 1.4rem;
        display: flex;
    }
}

.dot-flow {
    position: relative;
    margin-top: 0.6rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    background-color: $red;
    flex-shrink: 0;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 0.3rem;
        height: 15rem;
        background-color: $red;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.flow__container {
    display: flex;

    @include sp {
        flex-direction: column;
    }
}

.flow__step .dot-flow.last-dot::after {
    height: 6rem;
}

.flow__step .dot-flow.last-dot::before {
    content: "";
    position: absolute;
    top: calc(40 / 1080 * 100vw);
    left: 50%;
    width: 3.5rem;
    height: 5rem;
    background-image: url(../../../img/arrow-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(-50%);
}


.flow__heading {
    color: $red;
    font-size: 2.2rem;
    line-height: calc(33 / 22);
    font-weight: 700;
    flex-shrink: 0;
    text-align: left;
    max-width: 19.3rem;
    margin-left: calc(50 / 1080 * 100vw);
    width: 17em;

    @include sp {
        margin-left: 0;
    }
}

.flow__text {
    line-height: calc(30 / 18);

    @include sp {
        margin-left: 0;
    }
}