@use "../../foundation/all" as *;

/* ===========================
   fv
   =========================== */
.fv {
    position: relative;
}

.fv__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(80, 80, 80, 0.502);
    mix-blend-mode: multiply;
    pointer-events: none;
}


.catchphrase {
    position: absolute;
    top: calc(185 / 1080 * 100vw);
    left: calc(300 / 1080 * 100vw);
    font-size: calc(40 / 1080 * 100vw);
    font-weight: 700;
    line-height: calc(60 / 40);
    color: $white;
    z-index: 10;

    @include sp {
        top: calc(208 / 375 * 100vw);
        left: calc(20 / 375 * 100vw);
        font-size: calc(30 / 375 * 100vw);
        line-height: calc(50 / 30);
        text-align: center;
    }
}

/* ===========================
   fv-message
   =========================== */
.message {
    padding: 6.6rem 0 5.5rem;
}

.message__title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: calc(50 / 35);
    color: $red;
    text-align: center;

    @include sp {
        font-size: 2.5rem;
        line-height: calc(40 / 25);
    }
}

.message__text {
    line-height: calc(30 / 18);
    color: $black;
    text-align: center;
    margin-top: 1.7rem;

    @include sp {
        font-size: 1.8rem;
        text-align: left;
    }
}

.semicircle {
    margin: 0 auto;
    margin-top: 3.4rem;
    text-align: center;

    img {
        display: inline-block;
    width: calc(858 / 1080 * 100vw);
    max-width: 85.8rem;
}
}

.message__list {
    margin-top: 1.5rem;
    
    @include sp {
        margin-top: 1.1rem;
    }
}

.message__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    row-gap: 1.7rem;
    margin-top: 1.7rem
}

.message__item-title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: calc(50 /25);
    color: $red;
    text-align: right;
    flex: 1;

    @include sp {
        font-size: 2rem;
        line-height: calc(50 / 20);
    }
}

.dot {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    background-color: $red;
    flex-shrink: 0;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 0.3rem;
        height: 6.7rem;
        background-color: $red;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.dot-top {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 1.8rem;
        left: 50%;
        width: 4rem;
        height: 5rem;
        background-image: url(../../../img/arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateX(-50%);
    }
}

.message__item-text {
    font-size: 2.3rem;
    line-height: calc(50 / 23);
    text-align: left;
    flex: 1;

    @include sp {
        font-size: 2rem;
        line-height: calc(50 / 20);
    }
}

/* ===========================
promotion
=========================== */
.promotion {
    padding: 6.8rem 0 6rem;
    background-color: $red;
    color: $white;

    @include sp {
        padding: 4.9rem 0 4rem;
    }
}

.promotion__title {
    font-size: 3rem;
    line-height: calc(50 / 30);
    text-align: center;
    font-weight: 700;

    @include sp {
        font-size: 2.5rem;
        line-height: calc(50 / 25);
    }
}

.promotion__text {
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    text-align: center;
}

.promotion__text:first-of-type {
    margin-top: 3rem;

    @include sp {
        margin-top: 1.4rem;
    }
}