@use "../../foundation/all" as *;
@use "../component/component" as *;

.result-details {
    padding: 6.7rem 0 6rem;

    data {
        font-size: 1.7rem;
        line-height: calc(30 / 17);
        text-align: left;
    }

    @include sp {
        padding: 5rem 0 4rem;
    }
}

.result-details__container {
    display: block;

    time{
        display: block;
        margin-top: 1.5rem;
    }
}

.result-details__title {
    font-size: 2.5rem;
    line-height: calc(40 / 25);
    margin-top: 5rem;

    @include sp {
        font-size: 2rem;
        line-height: calc(30 / 20);
    }
}

.result-details__table {
border-collapse: collapse;


td {
    border: 0.05rem solid #707070;
    padding: 1.3rem 2rem 0.4rem;

    &:first-child {
        font-weight: 700;
        background-color: #E5E5E5;
        width: 14rem;

        @include sp {
            min-width: 12rem;
        }
    }

    &:last-child {
        width: 26rem;

        @include sp {
            min-width: 21.5rem;
        }
    }
}
}

.result-details__profile {
    display: flex;
    margin-top: 6.5rem;
    gap: 4rem;

    @include sp {
        display: block;
        margin-top: 2.1rem;
    }
}

.result-details__text {
    flex: 1;
    line-height: calc(30 / 18);
    @include sp {
        margin-top: 2.8rem;
    }
}

// .result_details .c-prev-next {
//     margin-top: 0;
//     }

// .prev-next--result {
//     .c-prev-text {
//         padding: 0.4rem 23rem 0.3rem 2rem;

//         @include sp {
//             padding: 0.4rem 4.6rem 0.3rem 2rem;
//         }
//     }

//     .c-prev--inner {
//             p {
//                 max-width: 22.6rem;

//                 @include sp {
//                     min-width: 15.6rem;
//                 }
//             }
//     }
// }

.result-details__list {
    display: block;
}