@use "../../foundation/all" as *;
@use "../component/component" as *;

.blog-details {
    padding: 7rem 0 4.5rem;
    border-bottom: 0.5px solid $black;
    position: relative;


    data {
        text-align: left;
        font-size: 1.7rem;
        line-height: calc(30 / 17);
        margin-bottom: 1.2rem;
        margin-top: 0.5rem;
    }

    span {
        position: absolute;
        top: 7rem;
        left: 2rem;
    }
}

.blog-details__sns-list {
    display: flex;
    column-gap: 0.3rem;
}

.blog-details__sns-item {
    margin-top: 2rem;

    a {
        width: 9rem;
    }
}

.blog-details__title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: calc(40 / 25);
    margin-top: 4.6rem;
}

.blog-details__text {
    margin-top: 4.8rem;

    .blog-details__text--text {
        margin-bottom: 3.3rem;

        &:last-of-type {
            margin-bottom: 1.7rem;
        }
    }
}

.blog-details__text--subtitle {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(40 / 20);
}

.blog-details__text--list {
    margin-top: 2.8rem;
    line-height: calc(30 / 18);
}

.blog-details__link {
    padding: 4.35rem 0 10.1rem;
}

.blog-details__link--text {
    background-color: #E8E8E8;
    padding: 1.8rem 3rem 1rem 6.7rem;
    position: relative;
    margin-top: 1.7rem;
    max-width: calc(600 / 1080 * 100vw);

    &::before {
        content: "";
        background-image: url(../../../img/blog_details/blog_deco.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: 2rem;
        left: 3rem;
        width: 2.7rem;
        aspect-ratio: 1 /1;
    }
}

.link {
    margin-top: 2.7rem;
    margin-bottom: 5.4rem;

    a {
        font-size: 2rem;
        line-height: calc(33 /20);
        color: $red;
        font-weight: bold;
        border-bottom: 1px solid $red;
    }
}

.blog-details__related {
    padding: 0 0 18.7rem;
}