.header__logo {
   height: 10rem;
   width: 19.2rem; 
}

.header__nav {
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 3.3rem;
   font-size: 1.7rem;
   font-weight: 700;
}

.header__nav-item--contact {
   font-size: 1.5rem;
   font-weight: 700;
   padding: 7rem 3rem 5rem;
}